@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  background: #dedede;
}

body{
  font-size: 15px;
}

header, footer{
  background: #111;
  color: #ffd000;
  text-align: center;
  border-bottom:.25em solid #ffd000;
}

footer{
  border-top:.25em solid #ffd000;
  border-bottom:none;
  color:#666;
  padding:.5em;
}

nav{
  padding: .5em 0em;
}

nav a{
  display: block;
  text-decoration: none;
  color: #666;
  transition: .3s;
  padding: .3em;
}

nav a:hover{
  color: #ffd000;
}

main{
  min-height:85vh;
}
  main h2 {
    text-align: center;
    padding: .5em;
    font-size: 2em;
    font-weight: 300;
  }

aside{
  display: none;
}
  aside h4{
    font-size: 1.5em;
    color: #d6ae00;
    padding: .3em;
  }

p {
  padding: .3em;
  margin-bottom: .3em;
}

button{
  background: #ffd000;
  color: #111;
  border: .0125em solid #111;
  padding: .3em .5em;
  transition: .3s;
}
  button:hover{
    background: #d6ae00;
  }
  button:disabled{
    background: #bbb;
    color:#666;
    border: .0125em solid #666;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

span.info {
  color: #999;
  font-size: .9em;
}

.mainpage{
  background: #fff;
}

.listbox{
  padding: .5em;
  margin-bottom: .5em;
}
.listbox h3{
  padding: .5em;
  font-size: 1.7em;
  font-weight: 300;
  color: #d6ae00;
}

@media screen and (min-width:680px) {
  .mainpage{
    display: grid;
    grid-template-columns: auto 310px;
    grid-template-rows: auto;
    background: #fff;
    max-width: 1080px;
    margin: 1em auto 1em auto;
  }

  nav{
    display:flex;
    justify-content: space-evenly;
  }

  aside{
    display: block;
  }
}
